*.link
*.symlink
.config/tmux/plugins/tmux-resurrect/run_tests
.config/tmux/plugins/tmux-resurrect/tests/helpers/helpers.sh
.config/tmux/plugins/tmux-resurrect/tests/run_tests_in_isolation
.config/tmux/plugins/tmux-continuum/scripts/handle_tmux_automatic_start/README.md
alacritty
helix
kitty
nvim
nvim.main
nvim.min
starship
tmux
tmux.minimal
waybar
wezterm
zellij
zshrc.startship
